<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>if conditions in html pages by using jinja tags</h1>
        {% if a > b %}
            <h2>If block statements</h2>
            <h1>A value is max that is {{a}}</h1>
        {% else %}
        <h2>else block statements</h2>
            <h1>B value is max that is {{b}}</h1>
        {% endif %}
    </center>
</body>
</html>